<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="../js/style.js"></script>

	<title>BLEACHER CREATURES</title>
</head>

<body>
	<% if flash[:notice] %>     
		<div class="flash notice">       
			<%=flash[:notice] %>     
		</div>   
	<% end %>   
	<% if flash[:alert] %>     
		<div class="flash alert">       
			<%=flash[:alert] %>     
		</div>   
	<% end %>

	<div id="header">
		<h1>BLEACHER CREATURES
			<% if current_user %>
				<span>-<h3> Logged in as <%= current_user.username %>-</h3></span>
			<% end %>
		</h1>

	<!-- 	<%=  %><button>Sign Out</button><%  %> -->
	</div>

	<%= yield %>

  <div id="footer">
  <h6>© 2016 Bleacher Creatures</h6>
  </div>

   

	
</body>
</html>