
<!-- user can edit their profile with these links -->
<div id="left">

<% if current_user %>
	<h2> Edit Profile</h2>

	<a href="/edit"><button>Change Password</button></a>
	<a href="/edit"><button>Delete Button</button>
	</a>

<% end %>
	<hr>
	<h2><%= @user.fname + " " + @user.lname %></h2>
	<p><%= @user.username %></p>
	<hr>
	<h3>Other Users to follow</h3>
	
	<% User.all.each do |u| %>
		<ul>
			<% :id == @user.id%>
				<li class="other-users"><a href="/users/:user_id"><%= u.username %></a></li>	
		</ul>
	<% end %>
	<hr>
	<ul>
		<li><h4>Followers</h4></li>
		<li><h4>Following</h4></li>
		<li><h4>Groups</h4></li>
	</ul>
	
</div>

<div id="middle">
	<form method="POST" action="/new-post">
		<label for="title">Title</label>
		<br>
		<input name="title" type="text"></input>
		<br>
		<label for="body">What are you thinking?</label>
		<br>
		<textarea name="body" type="text"></textarea>
		
		<input type="submit">
	</form>
</div>

<div id="right">
	<h2>Your posts!</h2>
	<hr>
	<% @posts.each do |p| %>
		<h4><%= p.title%></h4>
		<p><%= p.body%></p>
		<h5><%= p.user_id%></h5>
	<% end %>


</div>


